<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/vendor//d3.v3.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <style>

        .node {
            stroke: #fff;
            stroke-width: 3px;
        }

        .link {
            stroke: #999;
            stroke-opacity: .6;
        }

    </style>


</head>
<body ng-app="openDataApp" ng-controller="openDataCtrl">
<div class="wrapper">
    <div class="content-search content-wrapper">
        <div class="session-title">MP & FRIENDS</div>
        <div class="find-data-ctrl btn-group">
            <label class="btn btn-primary ctrl-btn ctrl-btn-1 ctrl-btn-by-postcode" ng-model="radioModel"
                   btn-radio="'postcode'">BY POSTCODE</label>
            <label class="btn btn-primary ctrl-btn ctrl-btn-2 ctrl-btn-by-MP" ng-model="radioModel" btn-radio="'mp'">BY
                MP</label>
        </div>
        <div class="search-box">
            <div class="search-box-inner"><input type="text" name="search-box-input" id="search-box-input"
                                                 ng-model="model.searchInput"/></div>
            <div class="search-box-btn">
                <div class="glyphicon glyphicon-search" ng-click="model.search()"></div>
            </div>
        </div>

    </div>
    {{model.fullName}}
    {{model.birthDate}}
    {{model.constituency}}
    {{model.party}}
    {{model.homePage}}
    {{model.twitter}}
    <div class="content-graph content-wrapper">
        <div id="chartCanvas">


        </div>
        <div class="content-graph-inner"></div>
    </div>
</div>
<script src="js/chart.js"></script>

</body>
</html>
